.p-menubar {
  border-radius: 0px;
  background: #ffff;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(9deg, #4158d0 40%, #c850c0 30%, #ffcc70 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text {
  font-style: italic;
}

.logo-container:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .logo-container {
    display: block;
  }
}
